extend ../layout

block content
	h2= "Report for "+report.date
	p= "Status: "+report.status
	p.tabs
		a(href="#info").selected Info
		a(href="#prestige") Prestige

	section#info.tab
		include detail_info

	section#prestige.hide.tab
		include detail_prestige
