extends ../layout

block content
	- if(reports.length)
		ul
		- each report, i in reports
			li: a(href="/report/"+report.link)= report.date
	- else
		p.no-data No reports found!


	p: a(href="/report/add", class="submit") Create New