.button
button
  background main-color
  border 1px solid darken(main-color, 30%)
  padding .5em 1em
  color #fff
  border-radius .5em
  cursor pointer
  display inline-block
  font-size 1em
  line-height 1
  margin .2em
  -webkit-appearance none

  &:hover
    background darken(main-color, 30%)
    border-color darken(main-color, 50%)
    text-decoration none

.submit
  @extend .button
  background confirm-color
  border-color darken(confirm-color, 50%)

  &:hover
    background darken(confirm-color, 30%)
    border-color darken(confirm-color, 50%)

.error
  color darken(main-color, 30%)

.cancel
.edit
  @extend .button
  padding 0.5em
  margin 0 .2em
  height 2em

.edit
  @extend .submit

.no-data
  text-align center
  font-style oblique
  color lighten(text-color, 20%)

.hide
  display none

.start-closed
  @extend .hide