/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
/*
 * Size variables
 */
/*
 * Main Imports
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fafaf0;
  color: #444;
  font-size: 16px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #fa6464;
}
h3 {
  color: #8f8f8f;
  font-size: 1.2em;
  margin: 1em 0 0.5em;
}
p {
  line-height: 1.8;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  text-decoration: underline;
}
em {
  font-style: oblique;
}
strong {
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  padding: 0.5em 0;
}
tbody tr:nth-child(odd) {
  background-color: #eeeecb;
}
th:last-child,
td:last-child {
  text-align: right;
  padding-right: 0.5em;
}
th:first-child,
td:first-child {
  padding-left: 0.5em;
  text-align: left;
}
th {
  color: #fa6464;
  padding-bottom: 0.5em;
}
td {
  padding: 0.5em 0;
}
ul.list li:nth-child(odd) {
  background-color: #eeeecb;
}
label {
  display: block;
  margin: 1em 0;
  width: 20em;
  height: 2em;
  line-height: 2em;
}
label input {
  float: right;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #d5d582;
  padding: 0.25em;
  height: 2em;
  width: 15em;
}
label input:focus {
  border-color: #fa6464;
}
label input[type='checkbox'] {
  height: 1em;
  width: 1em;
  margin: 0.5em;
}
fieldset {
  border: 1px solid #d5d582;
  padding: 1em;
  margin: 1em 0;
  background: #f4f4de;
}
.button,
.submit {
  background: #fa6464;
  border: 1px solid #ed0808;
  padding: 0.5em 1em;
  color: #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  margin: 0.2em;
  -webkit-appearance: none;
}
.button:hover,
.submit:hover {
  background: #ed0808;
  border-color: #aa0505;
  text-decoration: none;
}
.submit {
  background: #46c846;
  border-color: #1f681f;
}
.submit:hover {
  background: #2b922b;
  border-color: #1f681f;
}
.error {
  color: #ed0808;
}
.no-data {
  text-align: center;
  font-style: oblique;
  color: #696969;
}
header {
  padding: 2em 1em 1em;
  color: #fff;
  overflow: auto;
  background-color: #fa6464;
  border-bottom: 1px solid #ed0808;
  text-shadow: 0px -1px 0px #ed0808;
}
header h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
header nav {
  width: 50em;
  margin: 1em auto 0;
}
header li {
  float: left;
  list-style: none;
  margin: 1em;
}
header li a {
  color: #fff;
}
header li .current {
  font-weight: bold;
}
.container {
  width: 50em;
  margin: 3em auto;
  overflow: hidden;
}
footer {
  width: 50em;
  margin: 3em auto;
  border-top: 1px dotted #d5d582;
  padding-top: 0.5em;
}
footer p {
  font-size: 0.75em;
}
.user-prestige .num {
  text-align: right;
}
.user-standards {
  overflow: auto;
}
.user-standards label {
  width: 33%;
  padding-right: 2em;
  float: left;
  margin: 0.5em 0;
}
