/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = rgb(250, 100, 100)
confirm-color = rgb(70, 200, 70)
background-color = rgb(250, 250, 240)
accent-color = rgb(240, 160, 0)
text-color = rgb(68, 68, 68)


/*
 * Size variables
 */
main-width = 50em
margin-width = 3em


/*
 * Main Imports
 */
@import "font-awesome"
@import "typography"
@import "structure"
@import "classes"
@import "modules/users"
@import "modules/reports"
