/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
/*
 * Size variables
 */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fafaf0;
  color: #444;
  font-size: 16px;
}
/*
 * Typographic settings
 */
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #fa6464;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  text-decoration: underline;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  padding: 0.5em 0;
}
tbody tr:nth-child(odd) {
  background-color: #eeeecb;
}
th:last-child,
td:last-child {
  text-align: right;
}
th {
  color: #fa6464;
  padding-bottom: 0.5em;
}
td {
  padding: 0.5em 0;
}
td:first-child {
  padding-left: 0.5em;
}
td:last-child {
  padding-right: 0.5em;
}
label {
  display: block;
  margin: 1em 0;
  width: 16em;
}
label input {
  float: right;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #d5d582;
  padding: 0.25em;
}
label input:focus {
  border-color: #fa6464;
}
.button,
.submit {
  background: #fa6464;
  border: 1px solid #ed0808;
  padding: 0.5em;
  color: #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  width: 6em;
}
.submit {
  background: #46c846;
  border-color: #1f681f;
}
.submit:hover {
  background: #2b922b;
}
.error {
  color: #ed0808;
}
/*
 * Structure
 */
header {
  padding: 2em 1em 1em;
  color: #fff;
  overflow: auto;
  background-color: #fa6464;
  border-bottom: 1px solid #ed0808;
  text-shadow: 0px -1px 0px #ed0808;
}
header h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
header nav {
  width: 50em;
  margin: 1em auto 0;
}
header li {
  float: left;
  list-style: none;
  margin: 1em;
}
header li a {
  color: #fff;
}
header li .current {
  font-weight: bold;
}
.container {
  width: 50em;
  margin: 3em auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 60%;
}
.main-content p {
  margin-bottom: 2em;
}
.sidebar {
  float: left;
  width: 40%;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 3em;
  background-color: #fafaf0;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  padding: 0px 1em;
  margin-bottom: 1em;
}
p {
  line-height: 1.8;
}
footer {
  width: 50em;
  margin: 3em auto;
  border-top: 1px dotted #d5d582;
  padding-top: 0.5em;
}
footer p {
  font-size: 0.75em;
}
