/*
 * Typographic settings
 */

*
  box-sizing border-box

body
  font-family 'Source Sans Pro', sans-serif
  background-color background-color
  color text-color
  font-size 16px

h1
  font-size 2em

h2
  font-size 1.5em
  margin-bottom .5em
  color main-color

h3
  color lighten(text-color, 40%)
  font-size 1.2em
  margin 1em 0 .5em

p
  line-height 1.8

a
  text-decoration none
  color text-color

  &:hover
    text-decoration underline

em
  font-style oblique

strong
  font-weight bold

table
  width 100%
  border-collapse collapse

tr
  padding .5em 0

tbody
  tr:nth-child(odd)
      background-color darken(background-color, 10%)

th
td
  &:last-child
    text-align right
    padding-right .5em

  &:first-child
    padding-left .5em
    text-align left

th
  color main-color
  padding-bottom .5em

  a
    color main-color

td
  padding .5em 0

ul.list
  li:nth-child(odd)
    background-color darken(background-color, 10%)

label 
  display block
  margin 1em 0
  width 50%
  height 2em
  line-height @height
  clear both

  input
  textarea
  select
    float right
    width 15em

input
textarea
select
  background white
  border-radius .5em
  border 1px solid darken(background-color, 30%)
  padding .25em
  font-size 1em

  &:focus
    border-color main-color

input
  height 2em
  width @height * 5  

  &[type='checkbox']
    height 1em
    width 1em
    margin 0.5em

textarea
  width 10em
  min-height 2em
  resize vertical
  margin-bottom 1em

select
  width 10em

fieldset
  border 1px solid darken(background-color, 30%)
  padding 1em
  background darken(background-color, 5%)
  margin 1em 0
  overflow hidden
  transition max-height 0.2s
  max-height 1000px

  &.close
    max-height 10px !important

  legend
    text-decoration none
    cursor pointer
    user-select none

    &:hover
      text-decoration underline