extends ../layout

block content
	table
		thead
			tr
				th Name
				th MES Number
				th Expiration Date
		- if(users.length)
		- each user, i in users
			tr
				td: a(href="/user/"+user.mes)= user.name.last + ', ' + user.name.first
				td!= user.mes + (user.trial === true ? ' <em>(TRIAL)</em>' : '')
				- var expired = (user.is_expired === true ? 'error' : '')
				td(class=expired)= user.expire.getDate() + '/' + user.expire.getFullYear()
		- else
			tr: td(colspan=3, class='no-data')
					em No users found!


	p: a(href="/user/add", class="submit") Create New