extends ../layouts/default

block content
	h1 Create a report
	form(action="/create", method="post", role="form").form-horizontal
		.form-group
			label(for="reportMonth").col-sm-2.control-label Month
			.col-sm-5
				select(name="reportMonth")#reportMonth.form-control
					each month, index in months
						option(value=index, selected=(dateformat('mmmm') === month))= month

		.form-group
			label(for="reportYear").col-sm-2.control-label Year
			.col-sm-5
				input(type="number", name="reportYear" value=dateformat('yyyy'))#reportYear.form-control

		input(type="submit", value="Submit").btn.btn-primary
		| &nbsp;
		a(href="/").btn.btn-default Cancel