extends ../layouts/default

block content
	h1 Reports
	table.table.table-hover
		thead
			tr
				th Date
				th

		- if(reports.length)
			tbody
			- each report in reports
				- var id = dateformat( report.date, 'yyyy/mm' );
				tr
					td= dateformat( report.date, 'mmmm yyyy' )
					td
						.pull-right
							a(href="/view/"+id, class=(report.complete === true) ? '' : 'disabled').btn.btn-primary View
							| &nbsp;
							a(href="/edit/"+id).btn.btn-warning Edit 
							| &nbsp;
							a(data-toggle="modal", data-target="#delete-modal", data-id=id).btn.btn-danger.delete Delete
		- else
			tr: td(colspan=2) No reports found!


	a(href="/create").btn.btn-primary Create

	.modal.fade#delete-modal(role="dialog")
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button", data-dismiss="modal", aria-hidden="true").close &times;
					h4.modal-title Delete Report?
				.modal-body
					button(type="button", data-dismiss="modal").btn.btn-default Close
					| &nbsp;
					a(href="/delete/").btn.btn-danger Delete
